.main-section {
    display: flex;
    min-height: 300px;
}

.intro {
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        display: inline-block;
        margin-bottom: 2px;
    }
}

.section {
    display: grid;
    min-height: 300px;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    p {
        max-width: 500px;
        text-align: justify;
    }
}

.experience {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black {
    background-color: black;
    color: white;
}

.icon {
    width: 15px;
    vertical-align: middle;
}