.main-section {
    display: flex;
    min-height: 300px;
}

.intro {
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        display: inline-block;
        margin-bottom: 2px;
    }
}

.section {
    display: grid;
    min-height: 300px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 5% 0 5%;

    p {
        max-width: 500px;
        text-align: justify;
    }
}

.black {
    background-color: black;
    color: white;
}

.icon {
    width: 15px;
    vertical-align: middle;
}

.font-24 {
    font-size: 24px;
}
.font-36 {
    font-size: 36px;
}
.font-72 {
    font-size: 72px;
}

@media only screen and (max-width: 500px) {
    .section {
        display: flex;
        flex-direction: column;
    }

    #experience h1 {
        order: -1;
    }

    #experience div, #contact div {
        align-self: flex-start;
    }

    .font-24 {
        font-size: 24px;
    }
    .font-36 {
        font-size: 24px;
    }
    .font-72 {
        font-size: 42px;
    }

}